body {
    background-image: url('/img/background.jpg');
}

#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    padding: 60px;
    width: 800px;
    animation: entradaEsquerda 1.3s ease-out;
}

#buttonsContainer {
    margin-top: 20px;
    display: flex;
    width: 600px;
    justify-content: center;
}

img {
    width: 850px;
    height: auto;
    position: fixed;
    left: 55%;
    top: -8%;
    animation: entradaDireita 1.3s ease-out forwards, flutuar 3s ease-in-out infinite 1.3s;
}